{% extends "container.template.html" %}
{% block content %}
<div class="container">
  <div class="row">

   

 {% macro make_list(items, title) %}
      <caption>"{{title}}"</caption>
      <table class="table">
          <colgroup>
            <col class="col-md-7">
            <col class="col-md-4">
        </colgroup>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">URI</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
              {% for item in items %}
              <tr>
              <th scope="row">{{item.id}}</th>
              <td><a href="{{'/{type}/{id}'.format(type=item.__class__.__apiname__, id=item.id)}}">{{item.uri}}</a></td>
              <td>{{item.title}}</td>
              </tr>
              {% endfor %}
              
          </tbody>
      </table>
  {% endmacro %}

  {% if properties %}
      {{ make_list(properties, "Properties") }}
  {% endif %}

  {% if components %}
  {{ make_list(components, "Components") }}
  {% endif %}

  {% if types %}
  {{ make_list(types, "Types") }}
  {% endif %}

  {% if states %}
  {{ make_list(states, "States") }}
  {% endif %}
   
 </div>
</div>


  


  {% endblock %}