{% extends "container.template.html" %}

{% macro related(item, relation, source_or_target, caption) %}
{% if item[relation] %}
<div class="container mt-5">
    <caption><span class="me-1"></span>{{caption}}</caption>
    <table class="table">
        <colgroup>
            <col class="col-md-7">
            <col class="col-md-4">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">URI</th>
                <th scope="col">Title</th>
            </tr>
        </thead>
        <tbody>

            {% for related in item[relation] %}
            <tr>
                <td><a href="{{ '/{type}/{id}'.format(type=related[source_or_target].__class__.__apiname__, id=related[source_or_target].id)}}">{{related[source_or_target].uri}}</a></td>
                <td>{{related[source_or_target].title}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endif %}
{%- endmacro %}

{% macro mime_list_item(item, mimetype, title) %}
<li class="list-group-item"><a href="{{'/{type}/{id}?accept={accept_type}'.format(type=item.__class__.__apiname__, id=item.id, accept_type=mimetype)}}">{{title}}</a></li>
{% endmacro %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center mt-5">
            <div class="card border">
                <h3 class="card-header">{{item.type}}</h3>
                <div class="card-body">
                    <a href="{{ '/{type}/{id}'.format(type=type_map[item.type],id=item.pred.id) if item.pred else '#' }}"
                        class="btn btn-link btn-sm float-start me-1 {{'disabled' if not item.pred}}"
                        role="button">&larr; last version</a>
                    <span class="col-sm-3"></span>
                    <a href="{{'/{type}/{id}'.format(type=type_map[item.type],id=item.succ.id) if item.succ else '#'}}"
                        class="btn btn-link btn-sm float-end ms-1 {{'disabled' if not item.succ}}" role="button">next
                        version &rarr;</a>
                </div>
                <div class="card-body">

                    <!--<p class="card-text">{{item.description}}</p>-->

                    <div class="container">
                        <dl class="row">

                            <dt class="col-sm-3">URI</dt>
                            <dd class="col-sm-9">{{item.uri}}</dd>

                            <dt class="col-sm-3">ID</dt>
                            <dd class="col-sm-9">{{item.id}}</dd>

                            <dt class="col-sm-3">Title</dt>
                            <dd class="col-sm-9">{{item.title}}</dd>

                            {% if "Property" in item.__class__.__tablename__ %}
                            <dt class="col-sm-3">Datatype</dt>
                            <dd class="col-sm-9">{{item.datatype}}</dd>

                            <dt class="col-sm-3">Lower Bound</dt>
                            <dd class="col-sm-9">{{item.lower}}</dd>

                            <dt class="col-sm-3">Upper Bound</dt>
                            <dd class="col-sm-9">{{item.upper if item.upper > 0 else '&infin;'|safe}}</dd>
                            
                            <dt class="col-sm-3">Ordered?</dt>
                            <dd class="col-sm-9">{{item.ordered}}</dd>
                            {% endif %}

                            {% if "StringProperty" in item.__class__.__tablename__ %}
                            <dt class="col-sm-3">Regex Pattern</dt>
                            <dd class="col-sm-9">{{item.pattern}}</dd>
                            {% endif %}

                            {% if "ValueRangeProperty" in item.__class__.__tablename__ %}
                            <dt class="col-sm-3">Minimum Value</dt>
                            <dd class="col-sm-9">{{item.minimum}}</dd>

                            <dt class="col-sm-3">Maximum Value</dt>
                            <dd class="col-sm-9">{{item.maximum}}</dd>
                            {% endif %}
                        </dl>
                    </div>
                    
                    {% if "Property" in item.__class__.__tablename__ %}
                        {{ related(item, "related_components", "source", "Related Components") }}
                        {{ related(item, "related_states", "source",  "Related States") }}
                    {% endif %}

                    {% if "Component" in item.__class__.__tablename__ %}
                        {{ related(item, "related_properties", "target", "Related Properties") }}
                        {{ related(item, "related_types", "source", "Related Types") }}
                        {{ related(item, "related_states", "source", "Related States") }}
                    {% endif %}

                    {% if "Type" in item.__class__.__tablename__ %}
                    {{ related(item, "related_components", "target", "Related Components") }}
                    {{ related(item, "related_states", "source", "Related States") }}
                    {% endif %}

                    {% if "State" in item.__class__.__tablename__ %}
                        {{ related(item, "related_types", "target", "Related Types") }}
                        {{ related(item, "related_components", "target", "Related Components") }}
                        {{ related(item, "related_properties", "target", "Related Properties") }}
                    {% endif %}

                    <div class="container mt-5">
                        <span class="bi-files me-1"></span><label for="format-select" class="form-label">Serializations</label>
                        <ul class="list-group">
                            <!-- <li class="list-group-item"><a href="{{'/{type}/{id}?accept={accept_type}'.format(type=item.__class__.__apiname__, id=item.id, accept_type='application%2Fschema%2Bjson')}}">JSON Schema</a></li> -->
                            {{ mime_list_item(item, 'application%2Fschema%2Bjson', "JSON Schema") }}
                            {{ mime_list_item(item, 'application%2Fshacl%2Bjson', "SHACL Schema") }}
                            {{ mime_list_item(item, 'application%2Fld%2Bjson', "JSON-LD Instance") }}
                            <li class="list-group-item">EXPRESS</li>
                            <li class="list-group-item">UML</li>
                          </ul>
                       
                    </div>

                </div> <!-- end card-body-->

            </div>
        </div>



        {% endblock %}